<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test Schedule</title>
</head>
<body>
<div>
    Last result <a href="/admin/djcelery/taskstate/{{ persisted_task_id }}">{{uuid}}</a>
</div>
<div>
    <form action="/playground/test_schedule/" method="post">
        {% csrf_token %}
        <label for="something">Something: </label>
        <input id="something" type="text" name="number_of_tasks" value="{{ number_of_tasks }}">
        <input type="submit" value="OK">
    </form>
</div>
<div>
    <form action="/playground/run_schedule/" method="post">
        {% csrf_token %}
        <input id="mock_request" type="hidden" name="detector_name" value="mock">
        <input type="submit" value="Run Mock">
    </form>
</div>
<div>
    <form action="/playground/run_schedule/" method="post">
        {% csrf_token %}
        <input id="alpha_request" type="hidden" name="detector_name" value="alpha">
        <input type="submit" value="Run Alpha">
    </form>
</div>
<div>
    <form action="/playground/run_schedule/" method="post">
        {% csrf_token %}
        <input id="beta_request" type="hidden" name="detector_name" value="beta">
        <input type="submit" value="Run Beta">
    </form>
</div>
<div>
    {% if task_list %}
    <ul>
    {% for task in latest_task_list %}
        <li><a href="/admin/djcelery/taskstate/{{ task.id }}/">{{ task.id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available (yet).</p>
{% endif %}
</div>
</body>
</html>
